
<main class="container">
<<<<<<< HEAD
  <%= turbo_stream_from [current_company, "quotes"] %>
=======
  <%= turbo_stream_from "quotes" %>

>>>>>>> 9d91ee9c0fa14db17f7a7f1edcdcac70e1278ad4
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
        new_quote_path,
        class: "btn btn--primary",
        data: { turbo_frame: dom_id(Quote.new) }  %>
  </div>
  <%= turbo_frame_tag Quote.new do %>
  <% end%>
  <%= turbo_frame_tag "quotes" do %>
  <%= render @quotes %>
  <% end %>
</main>